In [1]:
from sklearn import tree
import numpy as np
import pandas as pd

In [2]:
datasets = pd.read_csv("Employee Salaries Datatset.csv")

In [3]:
datasets.head()

   Salary  Gender  Age  PhD
0   140.0       1   47    1
1    30.0       0   65    1
2    35.1       0   56    0
3    30.0       1   23    0
4    80.0       0   53    1

In [5]:
# Merubah kelas/kolom dari String ke Unique-Integer
# datasets['Outcome'] = pd.factorize(datasets.Outcome)[0]

In [6]:
datasets.tail()

    Salary  Gender  Age  PhD
95    18.6       1   26    0
96   152.0       1   56    1
97     1.8       1   28    0
98    35.0       0   44    0
99     4.0       0   24    0

In [ ]:
# # # Menghapus kolom ID
# datasets = datasets.drop(labels="Pregnancies", axis=1)

In [7]:
#Merubah dataframe ke array numpy
datasets = datasets.to_numpy()

In [8]:
print(datasets)

[[140.     1.    47.     1.  ]
 [ 30.     0.    65.     1.  ]
 [ 35.1    0.    56.     0.  ]
 [ 30.     1.    23.     0.  ]
 [ 80.     0.    53.     1.  ]
 [ 30.     0.    27.     0.  ]
 [ 60.     1.    53.     0.  ]
 [ 31.1    0.    30.     0.  ]
 [125.     1.    44.     1.  ]
 [ 51.     1.    63.     1.  ]
 [  3.     1.    22.     0.  ]
 [ 46.     1.    59.     0.  ]
 [150.     1.    60.     1.  ]
 [  3.     1.    28.     0.  ]
 [130.     1.    65.     0.  ]
 [ 15.     0.    25.     0.  ]
 [130.     1.    65.     0.  ]
 [ 84.     0.    47.     1.  ]
 [190.     1.    66.     1.  ]
 [ 74.     1.    45.     1.  ]
 [ 73.     0.    46.     0.  ]
 [ 10.     0.    24.     0.  ]
 [ 50.     0.    60.     0.  ]
 [  7.     0.    63.     0.  ]
 [  9.5    0.    27.     0.  ]
 [ 15.2    1.    66.     1.  ]
 [ 28.6    1.    36.     1.  ]
 [ 20.     0.    30.     0.  ]
 [ 72.     0.    51.     1.  ]
 [ 81.     1.    65.     1.  ]
 [100.     0.    45.     1.  ]
 [ 90.     0.    52.     1.  ]
 [ 90.     0.    54.     1.  ]
 [ 35.     1.    30.     0.  ]
 [ 30.     0.    52.     0.  ]
 [ 25.     1.    26.     0.  ]
 [ 52.     0.    49.     0.  ]
 [  9.     0.    22.     0.  ]
 [ 63.     1.    34.     1.  ]
 [ 72.     1.    60.     0.  ]
 [ 16.     1.    28.     0.  ]
 [ 92.     0.    58.     1.  ]
 [106.     1.    77.     1.  ]
 [  2.5    1.    67.     0.  ]
 [  9.     0.    27.     0.  ]
 [ 32.     0.    48.     1.  ]
 [ 32.     0.    45.     0.  ]
 [ 55.     1.    49.     1.  ]
 [ 52.     1.    36.     0.  ]
 [ 28.     0.    65.     1.  ]
 [ 20.     0.    32.     0.  ]
 [ 14.7    0.    49.     0.  ]
 [ 22.3    1.    67.     0.  ]
 [ 34.8    0.    22.     0.  ]
 [ 84.     0.    49.     1.  ]
 [ 19.     1.    43.     0.  ]
 [160.     1.    61.     1.  ]
 [ 65.     0.    43.     1.  ]
 [ 55.     0.    52.     0.  ]
 [  4.6    1.    51.     0.  ]
 [102.     1.    66.     1.  ]
 [ 20.     1.    29.     0.  ]
 [ 62.     0.    62.     0.  ]
 [ 55.     1.    56.     1.  ]
 [ 45.6    1.    61.     0.  ]
 [ 40.     0.    56.     0.  ]
 [ 24.     0.    41.     0.  ]
 [ 35.     1.    24.     0.  ]
 [ 48.     0.    60.     0.  ]
 [ 20.     0.    43.     0.  ]
 [ 40.7    0.    57.     0.  ]
 [ 15.     1.    23.     0.  ]
 [  0.25   0.    53.     0.  ]
 [152.     1.    71.     1.  ]
 [ 39.8    0.    20.     0.  ]
 [ 12.     0.    27.     0.  ]
 [ 30.     1.    69.     1.  ]
 [120.     1.    58.     1.  ]
 [  1.7    1.    37.     0.  ]
 [ 36.     1.    32.     1.  ]
 [ 96.     1.    33.     1.  ]
 [ 38.     0.    32.     1.  ]
 [ 90.     1.    60.     0.  ]
 [  9.     1.    71.     0.  ]
 [ 25.8    0.    30.     0.  ]
 [ 22.     0.    62.     0.  ]
 [ 38.8    0.    54.     0.  ]
 [ 72.     1.    42.     1.  ]
 [ 89.     1.    62.     0.  ]
 [ 41.     0.    51.     1.  ]
 [ 89.     1.    71.     1.  ]
 [ 25.     0.    29.     0.  ]
 [ 52.     1.    55.     1.  ]
 [115.     0.    54.     0.  ]
 [ 66.     0.    55.     1.  ]
 [ 18.6    1.    26.     0.  ]
 [152.     1.    56.     1.  ]
 [  1.8    1.    28.     0.  ]
 [ 35.     0.    44.     0.  ]
 [  4.     0.    24.     0.  ]]

In [9]:
#Membagi datasets => 400 baris data untuk training dan 100 baris data untuk testing
dataTraining = np.concatenate((datasets[0:40, :], datasets[50:89, :]), axis=0)
dataTesting = np.concatenate((datasets[40:50, :], datasets[89:99, :]), axis=0)

In [10]:
print(dataTraining)
len(dataTraining)

[[140.     1.    47.     1.  ]
 [ 30.     0.    65.     1.  ]
 [ 35.1    0.    56.     0.  ]
 [ 30.     1.    23.     0.  ]
 [ 80.     0.    53.     1.  ]
 [ 30.     0.    27.     0.  ]
 [ 60.     1.    53.     0.  ]
 [ 31.1    0.    30.     0.  ]
 [125.     1.    44.     1.  ]
 [ 51.     1.    63.     1.  ]
 [  3.     1.    22.     0.  ]
 [ 46.     1.    59.     0.  ]
 [150.     1.    60.     1.  ]
 [  3.     1.    28.     0.  ]
 [130.     1.    65.     0.  ]
 [ 15.     0.    25.     0.  ]
 [130.     1.    65.     0.  ]
 [ 84.     0.    47.     1.  ]
 [190.     1.    66.     1.  ]
 [ 74.     1.    45.     1.  ]
 [ 73.     0.    46.     0.  ]
 [ 10.     0.    24.     0.  ]
 [ 50.     0.    60.     0.  ]
 [  7.     0.    63.     0.  ]
 [  9.5    0.    27.     0.  ]
 [ 15.2    1.    66.     1.  ]
 [ 28.6    1.    36.     1.  ]
 [ 20.     0.    30.     0.  ]
 [ 72.     0.    51.     1.  ]
 [ 81.     1.    65.     1.  ]
 [100.     0.    45.     1.  ]
 [ 90.     0.    52.     1.  ]
 [ 90.     0.    54.     1.  ]
 [ 35.     1.    30.     0.  ]
 [ 30.     0.    52.     0.  ]
 [ 25.     1.    26.     0.  ]
 [ 52.     0.    49.     0.  ]
 [  9.     0.    22.     0.  ]
 [ 63.     1.    34.     1.  ]
 [ 72.     1.    60.     0.  ]
 [ 20.     0.    32.     0.  ]
 [ 14.7    0.    49.     0.  ]
 [ 22.3    1.    67.     0.  ]
 [ 34.8    0.    22.     0.  ]
 [ 84.     0.    49.     1.  ]
 [ 19.     1.    43.     0.  ]
 [160.     1.    61.     1.  ]
 [ 65.     0.    43.     1.  ]
 [ 55.     0.    52.     0.  ]
 [  4.6    1.    51.     0.  ]
 [102.     1.    66.     1.  ]
 [ 20.     1.    29.     0.  ]
 [ 62.     0.    62.     0.  ]
 [ 55.     1.    56.     1.  ]
 [ 45.6    1.    61.     0.  ]
 [ 40.     0.    56.     0.  ]
 [ 24.     0.    41.     0.  ]
 [ 35.     1.    24.     0.  ]
 [ 48.     0.    60.     0.  ]
 [ 20.     0.    43.     0.  ]
 [ 40.7    0.    57.     0.  ]
 [ 15.     1.    23.     0.  ]
 [  0.25   0.    53.     0.  ]
 [152.     1.    71.     1.  ]
 [ 39.8    0.    20.     0.  ]
 [ 12.     0.    27.     0.  ]
 [ 30.     1.    69.     1.  ]
 [120.     1.    58.     1.  ]
 [  1.7    1.    37.     0.  ]
 [ 36.     1.    32.     1.  ]
 [ 96.     1.    33.     1.  ]
 [ 38.     0.    32.     1.  ]
 [ 90.     1.    60.     0.  ]
 [  9.     1.    71.     0.  ]
 [ 25.8    0.    30.     0.  ]
 [ 22.     0.    62.     0.  ]
 [ 38.8    0.    54.     0.  ]
 [ 72.     1.    42.     1.  ]
 [ 89.     1.    62.     0.  ]]

79

In [11]:
print(dataTesting)
len(dataTesting)

[[ 16.    1.   28.    0. ]
 [ 92.    0.   58.    1. ]
 [106.    1.   77.    1. ]
 [  2.5   1.   67.    0. ]
 [  9.    0.   27.    0. ]
 [ 32.    0.   48.    1. ]
 [ 32.    0.   45.    0. ]
 [ 55.    1.   49.    1. ]
 [ 52.    1.   36.    0. ]
 [ 28.    0.   65.    1. ]
 [ 41.    0.   51.    1. ]
 [ 89.    1.   71.    1. ]
 [ 25.    0.   29.    0. ]
 [ 52.    1.   55.    1. ]
 [115.    0.   54.    0. ]
 [ 66.    0.   55.    1. ]
 [ 18.6   1.   26.    0. ]
 [152.    1.   56.    1. ]
 [  1.8   1.   28.    0. ]
 [ 35.    0.   44.    0. ]]

20

In [12]:
#Memecah dataset ke input label
inputTraining = dataTraining[:,0:3]
inputTesting = dataTesting[:,0:3]
labelTraining = dataTraining[:,3]
labelTesting = dataTesting[:,3]
print(labelTraining)
len(labelTraining)

[1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1.
 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1.
 0. 0. 0. 0. 0. 1. 0.]

79

In [13]:
#Mendefinisikan decision tree classifier
model = tree.DecisionTreeClassifier()

In [14]:
#Mentraining model
model =  model.fit(inputTraining, labelTraining)

In [15]:
#Memprediksi input data testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0.]
Hasil Prediksi :  [0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0.]

In [16]:
#Menghitung akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, " Data")
print("Prediksi Salah : ", prediksiSalah, " Data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  16  Data
Prediksi Salah :  4  Data
Akurasi :  80.0 %